<!DOCTYPE html>
  <head >
    <title>TheFirstBogatyr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="icon_bread.jpg">
    <% if Rails.env == "development" %>
      <script src="https://cdn.tailwindcss.com"></script>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="flex flex-col min-h-screen ">
      <%= yield %>
  </body>
</html>
